/* @import './base.css'; */
/* @import 'fontawesome/fontawesome-free/css/fontawesome.min.css';
@import 'fontawesome/fontawesome-free/css/brands.min.css';
@import 'fontawesome/fontawesome-free/css/solid.min.css'; */

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow: none;
  min-height: 100vh;
  min-width: 600px;
  padding-bottom: 5rem;
  background-color: rgb(204, 204, 204);
}
body {
  background-color: rgb(204, 204, 204);
}


.fs-7 {
  font-size: 15px;
}
.fs-8 {
  font-size: 13px;
}
.fs-9 {
  font-size: 11px;
}
.fs-10 {
  font-size: 9px;
}